body {
  background-color: #fbfbfb;
}

ul {
  display: inline-block;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

li {
  display: block;
  list-style: none;
  margin: 3px;
}

.App {
  text-align: center;
}

.Link {
  color: #000000;
  text-decoration: none;
}

.ListItem {
  padding: 10px;
}

.ListItem:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.AddStudentButton {
  width: 200px;
  margin: 3px;
  background-color: #20b2cc;
  border: 1px solid #20b2cc;
  display: block;
  padding: 10px;
  color: white;
}

.AddStudentButton:hover {
  background-color: #20c2dc;
}

.homeButton {
  float: none;
  line-height: 30px; 
  padding: 2px;
  margin: 3px;
  color: #ffffff;
}

.homeButton:hover {
  color: #eeeeee;
}

input[type=text] {
  max-width: 540px;
  padding: 12px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 12px;
}


button {
  background-color: #20b2cc;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
}

button:hover {
  cursor: pointer;
  background-color: #20c2dc;
}

form {
  display: inline-block;
  text-align: center;
}

.deleteButton {
  background-color: #fc5b5b;
  border: none;
  padding: 12px 20px;
}

.deleteButton:hover {
  background-color: #ff0000;
  cursor: pointer;
}

.editButton {
  background-color: #20b2cc;
  margin-right: 10px;
}

.editButton:hover {
  background-color: #20c2dc;
}

header {
  position: fixed;
  top: 0;
  background-color: #999999;
  display: block;
  width: 100%;
}

header>nav>ul {
  display: inline-flex;
}

.cancelButton {
  margin-left: 10px;
  background-color: #fc5b5b;
}

.cancelButton:hover {
  background-color: #ff0000;
}

.backButton {
  margin-top: 10px;
  margin-right: 10px; 
}

.pageColumn {
  vertical-align: top;
  width: 100%;
  display: inline-block;
}

@media all and (min-width: 720px) {
  .pageColumn {
    vertical-align: top;
    width: 33%;
    display: inline-block;
  }
}

.buttons {
  width: 100%;
  display: block;
}

select {
  max-width: 540px;
  padding: 6px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 12px;
}

input[type=date] {
  max-width: 540px;
  padding: 6px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 12px;
}

.login {
  background-color: #999999;
  color: white;
  border: none;
  padding: 8px;
  margin: 0px;
  border-radius: 4px;
}

.login:hover {
  background-color: #aaaaaa;
}

.login-list{
  display: flex;
}

.profile {
  display: inline-block;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  align-content: center;
}

#root {
  margin-top: 50px;
}

.listOfStudents {
  max-width: 960px;
  margin: 0 auto;
}

.listOfStudents>ul {
  display: grid;
  grid-gap: 5px;
}

@media all and (min-width: 480px) {
  .listOfStudents>ul {
    grid-template-columns: repeat(2, [col-start] 1fr);
    text-align: left;
  }
}

@media all and (min-width: 720px) {
  .listOfStudents>ul {
    grid-template-columns: repeat(3, [col-start] 1fr);
  }
}
