body {
  background-color: #fbfbfb;
}

h2 {
  text-align: center;
}

ul {
  display: inline-block;
  margin: 0 auto;
}

li {
  display: block;
  list-style: none;
  margin: 3px;
}

.App {
  text-align: center;
}

.Link {
  color: #000000;
  text-decoration: none;
}

.ListOfStudents {
  display: flex;
  margin: 0 auto;
}

.ListItem {
  display: block;
  border: 1px solid black;
  padding: 10px;
  min-width: 200px;
}

.ListItem:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.ListOfProjects {
  display: flex;
  margin: 0 auto;
}

.ListOfDemos {
  display: flex;
  margin: 0 auto;
}

.ListOfLeaves {
  display: flex;
  margin: 0 auto;
}

.AddStudentButton {
  border: 1px solid black;
  margin: 3px;
  background-color: #20b2cc;
  display: block;
  padding: 10px;
}

.AddStudentButton:hover {
  background-color: #20c2dc;
}

.homeButton {
  border-radius: 1px;
  line-height: 30px; 
  padding: 2px;
  margin: 3px;
  background-color: #20b2cc;
  color: white;
}

.homeButton:hover {
  background-color: #20c2dc;
}

input[type=text] {
  max-width: 540px;
  padding: 12px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 12px;
}


input[type=submit] {
  background-color: #20b2cc;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
}

input[type=submit]:hover {
  cursor: pointer;
  background-color: #20c2dc;
}

.AddStudentPage {
  display: block;
}

form {
  display: inline-block;
  text-align: center;
}

.deleteButton {
  background-color: #fc5b5b;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
}

.deleteButton:hover {
  background-color: #ff0000;
  cursor: pointer;
}
